SPRING_PROFILES_ACTIVE=mysql
MYSQL_JDBC_URL=jdbc:mysql://localhost:3306/interval?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
MYSQL_USERNAME=interval
MYSQL_PASSWORD=interval
MYSQL_DDL_AUTO=update
MYSQL_SHOW_SQL=false
